@model Application.Models.PostModels.PostViewModel
<div class="post-container">
    <div class="post-title">@Model.Title</div>
    <div class="post-info clearfix">
        <div class="post-author">@Model.Author</div>
        <div class="post-date">@Model.AddedOn</div>
    </div>
    <div class="post-description">@MvcHtmlString.Create(Model.Description)</div>
    <div class="like-container clearfix">
        <div class="like-count">@Model.Likes</div>
        <div class="like-put">
            <a href="@Url.Action("PutLike", "Post", new { })" class="like-put-button">like</a>
        </div>
    </div>
</div>
