@model Application.Models.PostModels.ListViewModel
@{
    ViewBag.Title = "Home";
}

<div class="blog-container">
    @foreach (var post in Model.Posts)
    {
        <div class="blog-post">
            <div class="post-title"><a class="post-title-link" href="@Url.Action("Open", "Post", new { postId = post.Id})">@post.Title</a></div>
            <div class="post-info clearfix">
                <div class="post-author">@post.Author</div>
                <div class="post-date">@post.AddedOn</div>
            </div>
            <div class="post-short-desc clearfix">@MvcHtmlString.Create(post.ShortDescription)</div>
            <div class="like-container clearfix">
                <div class="like-count">@post.Likes</div>
                <div class="like-put">
                    <a href="#" class="like-put-button">like</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="blog-nav">
    <ul>
      
    @foreach (var category in Model.Category)
    {
        <li><a href="@Url.Action("Category", "Home", new { categoryId = category.Id })">@category.Name</a></li>   
    }
     </ul>
</div>

